<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start">Second</ion-title>
        <ion-button slot="end" routerLink="/home">
            <ion-icon name="home"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Congratulation!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            You get price from our sponsor:
            <h2>{{price}}</h2>
        </ion-card-content>
    </ion-card>
</ion-content>